.carouselImg {
    margin: auto;
    width: 1140px;
    height: 700px;
}
.imgContainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#home {
        display: table;
        position: relative;
        width: 100%;
        background-size: cover;
        padding-bottom: 100px;
    }
.bgBlur{
    background:transparent !important;
    backdrop-filter: blur(3px);
}
